
<div [ngbCollapse]="isCollapsed" class="row" id="filters" >
  <ng-container *ngIf="types" >
    <div *ngFor="let type of types.results" class="ml-1">
      <app-filters [type] = 'type' ></app-filters>
    </div>
  </ng-container>
</div>

<div class="row mt-3">
  <button type="button" class="btn btn-danger" (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Filters</button>
  <nav aria-label="Page navigation" class="col">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <a class="page-link" (click) = "previousPage()" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item page-number disabled"><a class="page-link" href="#">{{ pageNumber }}</a></li>
      <li class="page-item">
        <a class="page-link" (click) = "nextPage()">Next</a>
      </li>
    </ul>
  </nav>
</div>

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
  <ng-container *ngIf="pokedex">
    <div *ngFor="let pokemon of pokedex.results">
      <app-card-display [pokemon] = 'pokemon'></app-card-display>
    </div>
  </ng-container>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" (click) = "previousPage()" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item page-number disabled"><a class="page-link" href="#">{{ pageNumber }}</a></li>
    <li class="page-item">
      <a class="page-link" (click) = "nextPage()">Next</a>
    </li>
  </ul>
</nav>
